fastapi==0.111
uvicorn[standard]==0.29
python-multipart==0.0.19
pydantic~=2.7.1
requests==2.32.4
google-auth==2.40.3
pillow==11.3.0
numpy==2.2.6
pycocotools==2.0.10
matplotlib==3.10.3
torch==2.7.1
torchvision==0.22.1
scikit-learn==1.7.0 
google-api-core>=2.18.0
google-cloud-aiplatform
